@media only screen and (max-width: 400px){
    .contactContainer{
        border-radius: 0px !important;
        margin: 0px !important;
        padding-top: 6rem !important;
    }
}

.contactContainer{
    background: linear-gradient(110.53deg, rgb(21, 37, 48) 0%, rgb(4, 2, 3) 100%);
    color: white;
    margin: 5rem !important;
}
