body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e9ecef !important;
  animation-duration: 2s;
  animation-name: slidein;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: whitesmoke;
}
 
::-webkit-scrollbar-thumb {
  background: linear-gradient(265.53deg, rgb(21, 37, 48) 0%, rgb(4, 2, 3) 100%);
}

::-webkit-scrollbar-thumb:hover {
  background: #123456; 
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 250%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
